In [1]:
tup1 = (1, 2, 3, 4, 5)
tup1

(1, 2, 3, 4, 5)

In [2]:
tup1 = (1,)
type(tup1)

tuple

In [3]:
tup2 = 'x', 3
tup2

('x', 3)

In [4]:
s = 'molecule'
print(s[1:5:2])

oe

In [5]:
list(s)

['m', 'o', 'l', 'e', 'c', 'u', 'l', 'e']

In [6]:
old = list('H2O')
new = old
new[2] = 'S'
print('new is ', new, 'and old is ', old)

new is  ['H', '2', 'S'] and old is  ['H', '2', 'S']

In [7]:
old = list('H2O')
new = old[:]
new[2] = 'S'
print('new is ', new, 'and old is ', old)

new is  ['H', '2', 'S'] and old is  ['H', '2', 'O']

In [8]:
mole1 = 'LiFePO4'
mole2 = 'LiCoO2'

print('Fe' in mole1)
print('Fe' in mole2)

True
False

In [9]:
l1 = list(mole1)
print(l1)

['L', 'i', 'F', 'e', 'P', 'O', '4']

In [10]:
s = ''.join(l1)
s

'LiFePO4'

In [11]:
set1 = set('anaconda')
set1

{'a', 'c', 'd', 'n', 'o'}

In [12]:
set2 = set('python')
set2

{'h', 'n', 'o', 'p', 't', 'y'}

In [13]:
set1 & set2

{'n', 'o'}

In [14]:
dict1 = {'H' : 1, 'O' : 16, 'Na': 23}

In [15]:
mass = dict1['Na'] + dict1['O'] + dict1['H']
mass

40

In [16]:
dict2 ={}
dict2[12] = 'C'    # key 12, value 'C'
dict2[14] = 'N'
dict2[14.0] = 'C14'
dict2

{12: 'C', 14: 'C14'}

In [17]:
import pandas as pd

In [18]:
s = pd.Series([50, 50, 100])
print(s)

0     50
1     50
2    100
dtype: int64

In [19]:
s.index = ['Red','Purple', 'Blue']
print(s)

Red        50
Purple     50
Blue      100
dtype: int64

In [20]:
data = [['red', 50, 60], ['purple', 60, 50], ['blue', 100, 100]]
df = pd.DataFrame(data, columns = ['name', 'score1', 'score2'])
df

     name  score1  score2
0     red      50      60
1  purple      60      50
2    blue     100     100

In [21]:
a = 5
if(a > 0):
    print('a is positive')

a is positive

In [22]:
temp = 25
if(temp > 100):
    print('gas')
elif(temp>0):
    print('liquid')
else:
    print('solid')
print('abc')

liquid
abc

In [23]:
a = 1
while(a < 10):
    print('a=',a)
    a+=1

a= 1
a= 2
a= 3
a= 4
a= 5
a= 6
a= 7
a= 8
a= 9

In [24]:
a = 1
while(a < 20):
    if(a % 3 == 0):
        print('a=',a)
    a+=1
else:
    print('a is larger than 20')

a= 3
a= 6
a= 9
a= 12
a= 15
a= 18
a is larger than 20

In [25]:
a = 1
while(a < 10):
    print('a=',a)
    a += 1

a= 1
a= 2
a= 3
a= 4
a= 5
a= 6
a= 7
a= 8
a= 9

1, 1, 2, 3, 5, 8, 13, 21, ...

In [26]:
a = 1
b = 1
while a < 100:
    print(a, end = ' ')
    a, b = b, a + b

1 1 2 3 5 8 13 21 34 55 89

In [27]:
a = ['red', 'purple', 'blue']
while 'blue' in a:
    print(a)
    a.remove('blue')

['red', 'purple', 'blue']

In [28]:
a = ['H', 'C', 'N']
for b in a:
    print(b)

H
C
N

In [29]:
for i, ele in enumerate(a):
    print(i, ele)

0 H
1 C
2 N

In [30]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
for i in range(1, 10, 2):
    print(i, end = ' ')

1 3 5 7 9

In [32]:
mole = 'CH3COOH'
for i, j in enumerate(mole):
    if i == 3:
        break
    print(i, j)

0 C
1 H
2 3

In [33]:
mole = 'CH3COOH'
for i, j in enumerate(mole):
    if i == 3:
        continue
    print(i, j)

0 C
1 H
2 3
4 O
5 O
6 H

zip()函数

In [34]:
mole1 = 'CH3COOH'
mole2 = 'CH3CH2OH'
for i, j in zip(mole1, mole2):
    print(i, j)

C C
H H
3 3
C C
O H
O 2
H O

In [35]:
dict3 = {}
s = 'KCN'
for i, dict3[i] in enumerate(s):
    pass
dict3

{0: 'K', 1: 'C', 2: 'N'}

In [36]:
for i in range(5): # 0 1 2 3 4
    print(i)
    i = 10

0
1
2
3
4

A. 0
B.  0
   1
   2
   3
   4

In [37]:
temp = 25
if(temp > 100):
    print('gas')
elif(temp>0):
    print('liquid')
else:
    print('solid')

liquid

In [38]:
def phase(temp):
    if(temp > 100):
        print('gas')
    elif(temp>0):
        print('liquid')
    else:
        print('solid')

phase(25)
phase(-5)

liquid
solid

In [39]:
def fun(a):
    print(a)
    a += 1
    print(a)

a = 1
print(a)
fun(a)
print(a)

1
1
2
1

In [40]:
def fun(a):
    a.append('cm-1')

b = [525]
print(b)
fun(b)
print(b)

[525]
[525, 'cm-1']

In [41]:
z_max = 3e-10
z_min = 2.9e-10
I_max = [2.27e-12, 2.24e-12, 2.30e-12, 2.25e-12, 2.22e-12, 2.25e-12, 2.24e-12]
I_min = [2.81e-12, 2.84e-12, 2.99e-12, 2.58e-12, 2.61e-12, 2.80e-12, 2.50e-12]

In [42]:
def avg_list(I):
    sum = 0
    for current in I:
        sum += current
    return sum / len(I)

In [43]:
I1 = avg_list(I_max)*1e12
I2 = avg_list(I_min)*1e12

print('%.3f,%.3f'%(I1, I2))

2.253,2.733

In [44]:
a = 3.1415926
print(a)
print('%.3f'%a)

3.1415926
3.142

In [45]:
z_max *= 1e10
z_min *= 1e10
print(z_max,z_min)

3.0 2.9

In [46]:
dI = I1 - I2
dz = z_max - z_min
I_avg = 0.5 * (I1 + I2)

In [47]:
a = pow(2, 3)
a

8

In [48]:
WF = 0.952 * dI * dI / dz / dz / I_avg / I_avg
print('%.3f'%WF)

3.530

In [50]:
def Cal_WF(z_max, z_min, I_max, I_min):
    z_max *= 1e10
    z_min *= 1e10
    I1 = avg_list(I_max)*1e12
    I2 = avg_list(I_min)*1e12
    dI = I1 - I2
    dz = z_max - z_min
    I_avg = 0.5 * (I1 + I2)
    return 0.952 * dI * dI / dz / dz / I_avg / I_avg

z_max = 3e-10
z_min = 2.9e-10
I_max = [2.27e-12, 2.24e-12, 2.30e-12, 2.25e-12, 2.22e-12, 2.25e-12, 2.24e-12]
I_min = [2.81e-12, 2.84e-12, 2.99e-12, 2.58e-12, 2.61e-12, 2.80e-12, 2.50e-12]

Cal_WF(z_max, z_min, I_max, I_min)

3.529593090368709

In [55]:
r = [0] * 3
r[0] = 1
r

[1, 0, 0]

In [53]:
f = [r] * 3
f

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [54]:
f[0][0] = 1
f

[[1, 0, 0], [1, 0, 0], [1, 0, 0]]

In [57]:
f = [[0]*3 for i in range(3)]
print(f)
f[0][0] = 1
print(f)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[1, 0, 0], [0, 0, 0], [0, 0, 0]]

In [58]:
f

[[1, 0, 0], [0, 0, 0], [0, 0, 0]]

In [59]:
f[0]

[1, 0, 0]

In [60]:
f[0][0]

1

In [70]:
def fun():
    a = 5
    b = 6
    return a , b

c, d = fun()
print(c)
print(d)

5
6